
.brick {
    height: 20px;
    width: 60px;
    border-radius: 0;
    background-color: #e59620;
    display: inline-block;
	position:static;
	padding: center;
	/* margin: 12.5px; */
    -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
    transition: all 2s;
}